<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
    <style>
        table,th,td{
            border:1px solid black
        }
    </style>
</head>
<body>
    <table>

        <tr>
            <th>Id</th>
            <th>email</th>
            <th>Username</th>
        </tr>

        <td>
            <td>123</td>
            <td>ab@gmail.com</td>
            <td>abc</td>
        </td>

    </table>
</body>
</html>